body {
    background-color:bisque;
    color:#113813;
    width: 100%;  
    text-align: center;

}
header, section {
    width: 960 px;
    margin: 0 auto;
    display: flex;
}

body {
    font: 1rem 'Fira Sans', sans-serif;
}

p {
    font-weight:normal;
}
section,article {
    width: 100%;
    text-decoration:dotted;
   
}
h5,H4 {
    font-size:large;
    font-family: "Sofia", sans-serif;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

H2,H4 {
    font-size:larger;
}

img {
    margin-right: 80px;
    margin-left: 300px;
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

h2 { 
    margin-left: 20px;
}

h4 {
    margin-left: 10px;
}

h5 {
    color:olive;
}
header{
    background-color: darkolivegreen;
    border-style:double;
    border-width: 5px;
    border-color: #073d0a;
    margin-right: 20px;
    margin-left: 15px;
}

ul {
    text-align: left;
    margin-left: 100px;
}

li {
    list-style: none;
}

button { 
    background-color:bisque;
    border-color: #113813;
    border-radius: 40px;
    color: #073d0a;
    font-family: "Sofia", sans-serif;

}
