
body {
    background-color:bisque;
    color:#113813;
    width: 100%;  
    text-align: center;
    font: 1rem 'Fira Sans', sans-serif
}

header, section {
    width: 960 px;
    margin: auto;
    display: flex;
}

p {
    font-weight:normal;
}
section,article {
    width: 100%;
    text-decoration:dotted;
   
}

aside {
    text-align: center;
}

article {
    text-align: center;
}

h5,H4,h2 {
    font-size:large;
    font-family: 'Merienda', cursive;
}


img {
    margin-right: 80px;
    margin-left: 300px;
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

h2 { 
    margin-left: 20px;
}

h4 {
    margin-left: 10px;
}

h5 {
    color:rgb(34, 97, 10);
    
}
header{
    background-color: darkolivegreen;
    border-style:double;
    border-width: 5px;
    border-color: #073d0a;
    margin-right: 20px;
    margin-left: 15px;
}

ul {
    text-align: center;
    
}

li {
    list-style: none;
}

button { 
    background-color:bisque;
    border-color: #113813;
    border-radius: 40px;
    color: #073d0a;
    font-family: "Sofia", sans-serif;

}

.contacto{
    background-color: bisque;
    padding: 140px 0 100px 0;
    color: olive;
    text-align: center;
    font: 1rem 'Fira Sans', sans-serif;
    }

.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.contacto .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.contacto .contenido-seccion .fila{
    display: flex;
    justify-content: space-around;
}
.contacto .contenido-seccion .fila .col{
    margin-top: 50px;
}
.contacto .contenido-seccion .fila .col h2{
    color: #113813;
    font: 1rem 'Fira Sans', sans-serif;
    }

i {
    justify-content: space-around;
}

.formacion{
    background-color: bisque;
    color: olive;
    text-align: center;
    font: 1rem 'Fira Sans', sans-serif;
    }

.formacion .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.formacion .contenido-seccion .fila{
    display: flex;
    justify-content: space-around;
}

.formacion .contenido-seccion .fila .col{
    margin-top: 50px;
}

.formacion .contenido-seccion .fila .col h2{
    color: #113813;
    font: 1rem 'Fira Sans', sans-serif;
    }

